.capçalera {
    text-align: center;
    margin-top: 20px;
}
.div1 {
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
}
.links {
    color: black;
    text-decoration: none;
}
.div2 {
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}
.div3 {
    background-color: transparent;
    list-style: none;
    text-decoration: none;
}